#wrapp {
	margin: 50px auto;
	width: 768px;
	height: 550px;
	border: none;
	text-align: center;
	font-size: 36px;
}

.players {
	display: flex;
	justify-content: space-between;
}

.player {
	width: 300px;
	border: 1px solid black;
	font-size: 40px;
}

